---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Hero from '../features/Hero/Hero.astro';
import Projects from '../features/Projects/Projects.astro';
import Filter from '../features/Filter/Filter.astro';
import { getCollection } from 'astro:content';
import '../sass/base/css_reset.scss';

const projects = (await getCollection('project')).sort((item1, item2) => item1.data.id - item2.data.id );
const tags = projects.map((project) => project.data.tags);
const uniqueTags = tags.flat().reduce<string[]>((reducer, current) => {
	if(reducer.includes(current)) {
		return reducer;
	} else {
		reducer.push(current);
		return reducer;
	}}, []);
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>		
		<main>
			<Hero />
			<Filter tags={tags} uniqueTags={uniqueTags} noOfProjects={projects.length} />
			<Projects projects={projects} />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
html {
	color-scheme: light dark;	
	font-family: 'League Spartan', sans-serif;
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.5;
	background-color: black;
}
h1, h2 {	
	 font-family: 'Russo One', sans-serif;;
	font-style: normal;
	font-weight: 400;	
}
h1 {
	font-size: 2rem;
}
h2 { 
	font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
	html {
		font-size: 1.25rem;
	}
	h1 {
		font-size: 3rem;		
	}
	h2 {
		font-size: 2rem;
	}
}

main {
    padding-top: 4rem;	
	display: flex;
	flex-direction: column;
	row-gap: 8rem;
}

</style>
